<!DOCTYPE html>
<html>
    <head>
        <title>node.js mongoDB</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body class="bg-info">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color:cornsilk; margin-top: 25px; padding: 20px;">
                {{{body}}}
            </div>
        </div>
        
    </body>
</html>